.App {
  text-align: center;
}

body {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    margin: auto;
    overflow-x: hidden;

}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

.header-div {
    background: #3d3d3d;
    padding-bottom: 3px;
    width: 100vw;
    height: 18vh;
    display: flex;
    /* position: sticky; */
    /* position: fixed; */
    top: 0;
}
.login-form {
    position:fixed;
    top: 25%;
    left: 35%;
    padding: 1em;
}
.signup-container{
    position:fixed;
    top: 30%;
    left: 40%;
    box-sizing: border-box;
    border: 1px solid #dbd4d4;
    border-radius: 4px;
    padding: 1em;
}
.custom-logo{
    margin-left: 30px;
}

.navbar-ul li{
    list-style-type: none;
    display: inline;
    padding: 20px;
}
.navbar-ul li a {
    color: white;
    text-decoration: none;
}
.navbar{
    /* padding-top: 70px; */
    width: 100vw;
}

.dashboard-table{
    margin: 30px;
    /* position: absolute; */
    width: 90%;
    /* top:25%; */
}
a {
    color: white;
    text-decoration: none;
}

.footer {
    background: #3d3d3d;
    padding-bottom: 3px;
    width: 100vw;
    height: 18vh;
    display: flex;
    padding-block-end: 0px;
}

.container h2{
    margin-left: 1.5em;
    margin-top: 1em;
}

.student-info-container{
    margin: 4%;
    box-sizing: border-box;
    border: 1px solid #dbd4d4;
    border-radius: 4px;
    padding: 1em;
    
}

.detail-header{
    max-width: 100%;
    /* display: flex; */
    align-items: center;
    padding: .25rem .75rem;
    color: #6c757d;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);
    height: 50px;
    
}
.nav-tabs .nav-item {
    margin-bottom: -15px;
}
h3, img {
    margin: auto;
}
.login-page-form {
    margin: auto;
}
.rounded-btn {
    border-radius: 16px;
    display: block;
    margin: auto;
    width: 100%;
}
.login-card {
    background-color: rgba(0, 0, 0, 0.04);
}   

.dashboard-table tbody {
    overflow-y:scroll;
}

.status {
    background-color: rgb(223, 243, 250);
}
.dashboard-table tbody :hover{
    background-color: rgb(203, 238, 203);
} 

.document_div{
    width: 100%;
}
/* .dashboard-table tbody td, .dashboard-table thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }  */